body{
    background: rgb(42,97,112);
    margin: 0;
    background-size: 100% 100%;
    padding-top: 10px;
  }

.divPrincipal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
  
.div1 {
  grid-row: span 2 / span 2;
  overflow: auto;
  width: 700px;
  height: 700px;
}
  

.h1dashboard {
  color: rgb(223, 239, 244);
  text-align: center;
}
