.navbar {
  color: white;
  display: flex; 
  justify-content: space-between;
  top: 100px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  width: 300px;
  height: 80px;
  mix-blend-mode: plus-lighter;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.icon-container {
  position: relative;
}

.icon {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.icon-connect {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.menu-button {
  z-index: 1001; /* Mayor que el z-index del menú */
  position: fixed; /* Posición fija en la pantalla */
  bottom: 20px;
  left: 12px;
  background-color: white;
  border-color: white;
  border: none;
  font-size: 30px;
  /* Estilos adicionales aquí */
}

.menu-hamburguesa {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 4%;
  background-color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-hamburguesa.active {
  transform: translateY(0);
}

.menu-hamburguesa a {
  display: block;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  color: #333;
  text-decoration: none;
}